<showcase-layout-toolbar-menu position="left">
  <button class="menu-button" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</showcase-layout-toolbar-menu>
<showcase-layout-toolbar-menu position="right">
  <button mat-button aria-label="Open on StackBlitz" (click)="openStackblitz()">
    <mat-icon svgIcon="stackblitz"></mat-icon>
    StackBlitz
  </button>
</showcase-layout-toolbar-menu>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="sidenavIsOpen()"
  >
    <mat-form-field class="search">
      <input
        matInput
        type="text"
        placeholder="Search"
        [(ngModel)]="searchTerm"
     
      />
      @if (searchTerm()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-nav-list>
      @for (cat of categories; track cat) {
        <h3 matSubheader>{{ cat }}</h3>
        @for (route of searchedRoutes()[cat]; track route) {
          @if (route) {
            <a
              mat-list-item
              [routerLink]="'/demo/' + route.path"
              routerLinkActive="active"
              #exampleLink
            >
              {{ route.data?.label }}
            </a>
          }
        }
        <mat-divider />
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="content">
      <router-outlet/>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
