:host,
.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

mat-sidenav {
  width: 345px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-nav-list {
  overflow-y: auto;
}

mat-sidenav-container {
  flex: 1;
}

.content {
  height: 100%;
}

mat-form-field.search {
  width: 100%;
  margin-bottom: -1.25em;
}

a.active {
  --mat-list-list-item-label-text-color: var(--mat-sys-on-secondary-container);
  --mat-list-list-item-hover-label-text-color: var(
    --mat-sys-on-secondary-container
  );
  --mat-list-list-item-focus-label-text-color: var(
    --mat-sys-on-secondary-container
  );
  background-color: var(--mat-sys-secondary-container) !important;
}
