name: Create bump version PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to change to
        required: true
        type: string

jobs:
  bump-version-pr:
    name: Bump version PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Use Node.js from nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Bump version
        run: |
          npm version --commit-hooks false --git-tag-version false ${{ inputs.version }}
          cd projects/ngx-maplibre-gl/
          npm version --commit-hooks false --git-tag-version false ${{ inputs.version }}

      - name: Update CHANGELOG.md
        run: |
          npm run changelog

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Bump version to ${{ inputs.version }}
          branch: bump-version-to-${{ inputs.version }}
          title: Bump version to ${{ inputs.version }}