name: Publish to NPM

permissions:
  id-token: write  # Required for trusted publishing
  contents: write
  attestations: write

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    uses: maplibre/reusable-workflows/.github/workflows/npm-publish.yml@main
    with:
      publish-base-dir: dist/ngx-maplibre-gl
      docs-command: npm ci && npm run build:showcase && npm run docs
      docs-output-dir: dist/showcase/browser